<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag "main", "screen" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
<header>
  <h1 class="main-heading"><%= link_to "Notes", :root, :id => 'home-link' %></h1>
  <%= link_to 'New Note', new_note_path, :id => 'new-note-link', :class => 'span-6' %>
</header>
  <%= yield %>
</div>
</body>
</html>
