<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag "main", "screen" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
<header>
  <h1 class="main-heading"><%= link_to "Notes", :root %></h1>
</header>
  <%= yield %>
</div>
</body>
</html>
